@import "tailwindcss";

:root {
  --background: #000810;
  --foreground: #f0f9ff;
}

.dark {
  --background: #000810;
  --foreground: #f0f9ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
